
ul{
	list-style: none
}
.left-text{
	display: flex;
	padding:15px;
	margin-left: -15px
}
.logo img{
	width:50px;
}
.text{
	display: flex;
	flex-direction: column;
	padding-left:10px;

}
.text .topheader{
	font-size: 25px;
	font-family: sans-serif;
}
.text .bottomheader{
	font-size: 10px;
	font-family: sans-serif;
	line-height: 3px;
	margin-left: 1px
}
.right-text{
	position: absolute;
	right: 0;
	top:58px;
	right:155px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px
 
}
.navbar ul 
{
  margin-left: -45px;
}
.hamburger {
    display: none;
}
.nav-menu i{
	display: none
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    align-items: center;
    margin-left: 15px
}


.nav-link{
    font-size: 1.1rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #475569;
}

.buttonham{
	display: none;
	text-decoration: none;
	
}

h6{
	font-size: 30px;
	font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}



input[type=submit] {
  background-color: #2382e4;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.user-validation {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  background: #eee;
  padding: 1.2em;
}
.user-validation > label  {
  grid-column: labels;
  grid-row: auto;
}
.user-validation > input,
.user-validation > textarea,
.user-validation > button {
  grid-row: auto;
  border: none;
  padding: 1em;
  
}

/* Clear floats after the columns */

@media screen and (max-width: 675px ) {
	.nav-menu {
        position: fixed;
        left: -110%;
       	top:0;
       	height: 100%;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 2px 2px rgba(0, 0, 0, 0.05);

    }
    .navbar{
    	height: 0px;
    	
    }
	.nav-menu i
	{
		display: block
	}
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
       
        border-bottom:1px solid;
        width: 100%;
        margin-left: -90px
       
    }

  .hamburger {
        display: block;
        cursor: pointer;
       	margin-left: 10px;
       	margin-top: 10px
       
    }
  .right-text{
  	display: none
  }
  .buttonham{
  	display: block;
  	margin-top:10px;
  	margin-left: 5px
  }
  .logo{
  	margin-left:15px;
  }
  
 
  .fa-times{
		position: absolute;
		right: 20px;
		top:10px;
	}
}
